
<div class="nav-side-menu">
        <!-- <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i> -->
      
            <div class="menu-list">
      
                <ul id="menu-content" class="menu-content collapse out">
                
                    <!-- MANAGE UNIVERSITIES MODULE  -->
                    <li  data-parent="#menu-content" data-toggle="collapse" data-target="#manageUniversitySubChirldren" class="collapsed active">
                      <a href="#"><i class="fa fa-university"></i> Manage Universities <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="manageUniversitySubChirldren">
                        <li ><a href="#/home/addUniversity">Add University</a></li>
                        <li><a href="#/home/universitiesLists">List Universities</a></li>
                        
                    </ul>
                   <!-- MANAGE UNIVERSITIES MODULE  -->


                   <!-- MANAGE PAYMENTS MODULE  -->
                   <li  data-parent="#menu-content" data-toggle="collapse" data-target="#managePaymentsSubChirldren" class="collapsed ">
                        <a href="#"><i class="fa fa-credit-card"></i> Manage Payments <span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="managePaymentsSubChirldren">
                          <li ><a href="#/home/addUniversity">Unfunded Payments</a></li>
                          <li><a href="#/home/universitiesLists">Received Payments</a></li>
                          <li><a href="#/home/universitiesLists">Posted Payments</a></li>                          
                      </ul>
                   <!-- MANAGE PAYMENTS MODULE  -->


                   <!-- MANAGE SETTLEMENTS MODULE  -->
                   <li data-toggle="collapse" data-target="#manageSettlementSubChirldren" class="collapsed ">
                        <a href="#"><i class="fa fa-balance-scale"></i> Manage Settlements <span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="manageSettlementSubChirldren">
                          <li ><a href="#/home/addUniversity">Settlements</a></li>
                          <li><a href="#/home/universitiesLists">Settlements Payments</a></li>
                      </ul>
                   <!-- MANAGE SETTLEMENTS MODULE  -->

                   <!-- MANAGE CUSTOMERS MODULE  -->
                   <li data-toggle="collapse" data-target="#manageCustomerSubChirldren" class="collapsed ">
                        <a href="#"><i class="fa fa-user"></i> Manage Customers <span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="manageCustomerSubChirldren">
                          <li ><a href="#/home/addUniversity">Transactional History</a></li>
                          <li><a href="#/home/universitiesLists">Complaince Reporting</a></li>
                          <li><a href="#/home/universitiesLists">New Users</a></li>                          
                      </ul>
                   <!-- MANAGE CUSTOMERS MODULE  -->


                   <!-- REFUND MANAGEMENT MODULE  -->
                   <li data-toggle="collapse" data-target="#refundManagementSubChirldren" class="collapsed ">
                        <a href="#"><i class="fa fa-refresh"></i> Refund Management <span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="refundManagementSubChirldren">
                          <li ><a href="#/home/addUniversity">Refund Batch List</a></li>
                      </ul>
                   <!-- REFUND MANAGEMENT MODULE  -->

                   <!-- REPORTING MODULE  -->
                   <li data-toggle="collapse" data-target="#reportingSubChirldren" class="collapsed ">
                        <a href="#"><i class="fa fa-file"></i> Report <span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="reportingSubChirldren">
                          <li ><a href="#/home/addUniversity">Geoswift Report</a></li>
                          <li ><a href="#/home/addUniversity">Transaction Report</a></li>
                          <li ><a href="#/home/addUniversity">India Report</a></li>
                          <li ><a href="#/home/addUniversity">Payment Summary Report</a></li>
                          
                          
                      </ul>
                   <!-- REPORTING MODULE  -->


                   <!-- CONFIGURATION MODULE  -->
                   <li data-toggle="collapse" data-target="#configurationSubChirldren" class="collapsed ">
                        <a href="#"><i class="fa fa-cog"></i> Configuration <span class="arrow"></span></a>
                      </li>
                      <ul class="sub-menu collapse" id="configurationSubChirldren">
                          <li ><a href="#/home/addUniversity">Currency Configuration</a></li>
                          <li ><a href="#/home/addUniversity">Country Configuration</a></li>
                          <li ><a href="#/home/addUniversity">Labels Configuration</a></li>
                          <li ><a href="#/home/addUniversity">Feedback Configuration</a></li>
                          <li ><a href="#/home/addUniversity">Program of study configuration</a></li>
                          <li ><a href="#/home/addUniversity">User Manager configuration</a></li>
                          <li ><a href="#/home/addUniversity">Email Template configuration</a></li>
                          
                          
                      </ul>
                   <!-- CONFIGURATION MODULE  -->

                </ul>
         </div>
    </div>