<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">

        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"  data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->

            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <form class="sidebar-search" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
                        <!--MANAGE UNIVERSITIES MODULE-->
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-university" aria-hidden="true"></i>
                    <span class="title">Manage Universities</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#/add-university.html" class="nav-link ">
                            <span class="title">Add University</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/university-list.html" class="nav-link ">
                            <span class="title">List University</span>
                        </a>
                    </li>
                </ul>
            </li>
                                    <!--MANAGE UNIVERSITIES MODULE-->



                                    <!--MANAGE PAYMENTS MODULE-->
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <span class="title">Manage Payments</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#/unfunded.html" class="nav-link ">
                            <span class="title">Unfunded</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="#/Received.html" class="nav-link ">
                            <span class="title">Received</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="#/Posted.html" class="nav-link ">
                            <span class="title">Posted</span>
                        </a>
                    </li>
                </ul>
            </li>
                                    <!--MANAGE PAYMENTS MODULE-->


                                    <!--MANAGE SETTLEMENTS MODULE -->
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                    <span class="title">Manage Settlements</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#/Batch.html" class="nav-link ">
                            <span class="title">Settlements</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/batch-payments.html" class="nav-link ">
                            <span class="title">Settlement Payments</span>
                        </a>
                    </li>
                </ul>
            </li>
                                       <!--MANAGE SETTLEMENTS MODULE-->

                                       <!--MANAGE CUSTOMERS MODULE-->
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="title">Manage Customers</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#/user-list.html" class="nav-link">
                            <span class="title">Transactional History</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/compliance-reporting.html" class="nav-link">
                            <span class="title">Compliance Reporting</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/new-user.html" class="nav-link">
                            <span class="title">New Users</span>
                        </a>
                    </li>
                </ul>
            </li>
                                       <!--MANAGE CUSTOMERS MODULE-->

                                       <!--REFUND MANAGEMENT MODULE-->
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <span class="title">Refund Management</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#/refund.html" class="nav-link">
                            <span class="title">Refund Batch List</span>
                        </a>

                    </li>
                </ul>
            </li>
                                     <!--REFUND MANAGEMENT MODULE -->



                                     <!--REPORT MODULE -->
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <span class="title">Report</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#/geo-swift.html" class="nav-link">
                            <span class="title">GeoSwift Report</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/transaction-report.html" class="nav-link">
                            <span class="title">Transaction Report</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/india-report.html" class="nav-link">
                            <span class="title">India Report</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/payment_summary.html" class="nav-link">
                            <span class="title">Payment Summary Report</span>
                        </a>
                    </li>
                </ul>
            </li>                            
                                     <!--REPORT MODULE -->
           
                                  <!--CONFIGURATION MODULE -->
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="title">Configuration</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#/config-currency.html" class="nav-link">
                            <span class="title">Currency</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/config-country.html" class="nav-link">
                            <span class="title">Country</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/config-labels.html" class="nav-link">
                            <span class="title">Labels</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/config-feedback.html" class="nav-link">
                            <span class="title">Feedback</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/config-language.html" class="nav-link">
                            <span class="title">Language</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/config-programOfStudy.html" class="nav-link">
                            <span class="title">Program of study</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/config-userManager.html" class="nav-link">
                            <span class="title">User Manager</span>
                        </a>
                    </li>
                </ul>
            </li>
                                       <!--CONFIGURATION MODULE -->
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>