.universitiesList .portlet-title{ margin-bottom: 0px;    }
.universitiesList .caption{ width:100%;   }
.universitiesList .universitiesListHeading{ margin: 0px;
margin-left: 14px;
margin-bottom: 15px;
text-decoration: underline;}
.universitiesList .form-control{width: 100%;}
.universitiesList .portlet-body{padding: 0px;}
.universitiesList .table{margin-bottom: 0px;}
.universitiesList .currncy-symbol{
    border-bottom: 2px solid red;
}
.universitiesList .currncy-symbol{
    border-bottom: 2px solid red;
}
.universitiesList .golden-star{
    padding: 0px 10px
}
.universitiesList .show_loading{
    text-align:center
}
.universitiesList .show_loading img {
    text-align:center;width:300px
}
.universitiesList .no-record {
    text-align:center
}
.universitiesList .pagination {
    margin-left: 21px;
}