// HEADER TEMPLATE STYLING 
.page-header-inner{

    // PAGE LOGO 
    .page-logo{
        background: rgb(61, 61, 61) !important; 
    }
    // LOGO DEFAULT 
    .logo-default{
    width: 117px;
    margin-top: 8px;
    }

}